body {
  width: 900px;
  margin: auto;
}

header {
  height: 75px;
  width: 900px;
  border-image: url(../img/border-img.png) 0 0 10 0 round;
  border-bottom: 10px;
  margin-bottom: 20px;
}

hr {
  padding: 0;
  border: none;
  border-top: 1px solid #a8b2bb;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

/*input[type="checkbox"] {
display: none;
}*/

input[type="checkbox"] {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin:-1px 4px 0 0;
  vertical-align: middle;
  background: url(../img/checkbox-bg.png);
  cursor: pointer;
}

footer {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  font-size: .95em;
  letter-spacing: -0.2px;
}

footer p {
  margin-bottom: -10px;
  color: #a8b2bb;
}

.social {
  position: absolute;
  display: inline-block;
  right: 182px;
  top: 10px;
}

.social li {
  display: inline;
  float: right;
  margin-right: 1px;
}

.social img {
  height: 24px;
  width: 24px;
}

.rss {
  margin-left: 5px;
}

.logo {
  float: left;
}

.title {
  font-family: 'Damion', cursive;
  font-size: 2.25em;
  position: absolute;
  top: -20px;
}

.title-slogan {
  position: relative;
  left: 8px;
}

.recipe-title {
  font-family: "Oswald";
  font-weight: lighter;
}

.post-date, .print, .slogan {
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
  font-size: 0.8em;
  color: gray;
  letter-spacing: -0.5px;
}

.slogan {
  position: relative;
  top: -3px;
  color: #a8b2bb;
}

.post-date {
  position: relative;
  bottom: 25px;
  color: #a8b2bb;
}

.print {
  font-size: 0.5em;
  display: inline;
  color: #a8b2bb;
}

.print-block {
  width: auto;
  float: right;
  position: relative;
  bottom: 67px;
}

.recipe-text {
  position: relative;
  bottom: 40px;
  font-family: 'Slabo 27px', serif;
  color: gray;
}

.recipe-paragraph {
  text-indent: 30px;
  font-size: 1.26em;
}

.ingredients {
  height: 305px;
  background-image: url("../img/list-bg.png");
  background-repeat: no-repeat;
  width: 899px;
  position: relative;
  bottom: 20px;
  border-image: url(../img/border-img.png) 0 0 10 0 round;
  border-bottom: 10px;
  padding-bottom: 25px;
}

.ingredients ul {
  display: inline-block;
  width: 350px;
  height: 305px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.49em;
  list-style-type: none;
  position: relative;
  top: 14px;
  color: gray;
}

.ingredients1 {
  float: left;
  margin-left: 20px;
}

.ingredients2 {
  float: right;
  margin-right: 50px;
}

.ingredients ul li span {
  padding-left: 10px;
}

.strikethrough:checked + span {
  text-decoration:line-through;
}

.author h1, .author p {
    font-family: 'Slabo 27px', serif;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    font-size: 1.26em;
}

.author p {
  color: gray;
  width: 600px;
  bottom: 50px;
}

.author h1 {
  bottom: 20px;
}

.author h2 {
  float: right;
  display: inline-block;
  height: 30px;
  width: 125px;
  padding-left: 35px;
  padding-top: 10px;
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  letter-spacing: -0.2px;
  position: relative;
  background-color: #bc7058;
  bottom: 62px;
  color: #fff;
}

.author img {
  float: left;
}

hr:after {
    content: url(../img/small-logo.png);
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
